* {
    box-sizing: border-box;
}
body{ 
    margin: 0;
    padding: 0;
}
.ola {
    display: flex;
    justify-content: center;
    
    animation-duration: 3s;
    animation-name: ora;
    width: 15%;
    position: relative;
    animation: ora 10s ;
    position: absolute;

}
@keyframes ora {
   from{top: 0px;  }
    
    10% {
        top: 300px; width: 80%; 
    }
    20%{top: 5px; ;
    }
    30% {
        top: 300px; width: 80%; ;
    }
    40%{top:5px; ;
    }
    50% {
        top: 300px; width: 80%; ;
    }
    60%{
        top: 5px;
    }
    70%{top: 300px; width: 80%; ;
    }
    80% {
        top: 5px;
    }
    90%{top: 300px; width: 80%; }

    to {
        top: 0px ; width: 15%; 
    }
    

  }
.klee {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

}
.piña {
    width: 100%;
   
    display: flex;
    justify-content: center;

}
.ceño {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

}

